* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans SC', sans-serif;
}

/*Navigation*/
header {
    width: 100%;
    height: 8rem;
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 1em 0 0 .5em;
    background-color:  #333333;
    overflow: hidden;
}

.logo  {
    font-size: 1em;
    float: left;
    line-height: 0;
    width: 10em;
    position: relative;
    top: 25px;
    z-index: 1;
}
.container-menu {
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
}
.container-menu navbar ul {
    margin-top: 10px;   
    padding: 15px;
    font-size: 20px;
}
.navbar ul li {
    display: inline-block;
    margin:20px 40px 0 40px;
    font-size: 20px;
}

.navbar ul li a {
    
    text-decoration: none;
    color: white;
}
.search{
    margin-top: 20px;

}

.search p a{
    text-decoration: none;
    color: white;
    font-size: 20px;

}
.container {
    margin-top: 0px;
}

.latest-articles {
    width: 100%;
    background-color: #D4D4D4;
    display: flex;
    flex-flow: row wrap;
}

.latest-articles-part {
    text-align: center;
    width: 50%;
    height: 650px;
    border: 1px solid white;
}

.latest-articles-part h2 {
    color: #000000bf;
    font-size: 35.792px;
    font-weight: 700;
    text-align: left;
    width: 70%;
    margin: 40% auto;

}

.latest-articles-banner {
    width: 100%;
    text-align: center;
    position: absolute;
    
    
}
.latest-articles-banner p {
    background-color:  #333333;
    margin:20px auto;
    width: 300px;
    font-size: 26px;
    letter-spacing: -1px;
    color: white;
    font-weight: 700;
    border-radius: 10px;

}